@import "./App.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.choice {
  @apply w-full text-left px-4 py-2 rounded border-[1px] border-[#80808066] transition ease-out hover:cursor-pointer;
}

.choice:hover:not(.choice-disabled) {
  background-color: rgba(128, 128, 128, 0.4);
}
.next-button {
  font-size: 1rem;
  color: white;
  background-color: #277da1;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all ease 0.1s;

  &:hover {
    background-color: #577590;
  }
}
.right_answer {
  background-color: #43aa8b;
  color: white;
}
.wrong_answer {
  background-color: #f94144;
  color: white;
}
.disabled {
  opacity: 0.4;
  background-color: #577590;
  cursor: no-drop;
}
.choice-disabled {
  cursor: default;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4em;
}
.score {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.right,
.wrong {
  text-align: center;
  margin-top: 1rem;
}
.counter {
  font-size: 5rem;
  font-weight: bold;
}
.right_counter {
  background: #43aa8b;
  background: linear-gradient(to right, #43aa8b 17%, #4d908e 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrong_counter {
  background: #f94144;
  background: linear-gradient(to right, #f94144 26%, #f3722c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user {
  font-size: 2rem;
}
.restart_button {
  background-color: #f9c74f;
  border: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.8rem 1.8rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
.home_button {
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-opened {
  display: block;
  scale: 1;
  transition: scale 0.1s ease-in-out;

  @starting-style {
    scale: 0.9;
  }
}
.modal-hidden {
  transition: scale 0.05s ease, display 0.05s ease-in-out allow-discrete;
  scale: 0.9;
  display: none;
}
